.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sp-sm);
  }
  .img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
  }
  .description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--sp-sm);
  }
  .name{
    color: var(--background);
    font-family: var(--indie-cursive);
    background-color: var(--accent);
  }
  .socials{
    display: flex;
    gap: var(--sp-xs);
    align-items: flex-end;
  }
  .socials img{
    height: 36px;
    width: 36px;
  }
  @media (max-width: 580px) {
    .about{
      display: block;
    }
    .description h1{
      text-align: center;
    }
    .img-wrapper{
      display: flex;
      justify-content: center;
      margin-bottom: var(--sp-sm);
    }
    .socials{
      justify-content: center;
    }
  }