.education{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* column-gap: -50px; */
}
.education h1{
    grid-column: span 3;
}
.education-logo{
    height: 150px;
}
.concordia-logo{
    margin-left: -30px;
}
.education-info{
    grid-column: span 2;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.degree{
    margin-top: 5px;
   font-style: italic;
}
.date{
    font-weight: 600;
}
@media (max-width:600px) {
    .education{
        display: block;
        margin-bottom: var(--sp-md);
    }
    .concordia-logo{
        margin-top: -10px;
    }
    .education-info{
        margin-bottom: var(--sp-sm);
    }
    .education-logo{
        height: 120px;
    }
    .logo{
        display: flex;
        margin-bottom: var(--sp-xs);
    }
}