.project{
    margin: var(--sp-xs) 0;
    background-color: var(--background-grey);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: var(--sp-sm) var(--sp-xs);
    gap: var(--sp-sm);
  }

  .project-content p{
    color: var(--primary-lt);
  }
  .project-img{
    width: 100%;
  }
  .skills-section{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--sp-xs);
    margin-top: var(--sp-sm);
    margin-bottom: var(--sp-md);
  }
  @media (max-width:750px) {
    .skills-section{
      grid-template-columns: repeat(3, 1fr);
    }
    .project{
      display: block;
    }
    .project-img{
      margin-top: var(--sp-xs);
    }
  }
  @media (max-width: 600px) {
    .skills-section{
      grid-template-columns: repeat(2, 1fr);
    }
    
  }